<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- interface demo -->
<!-- Not Run Okey!!!!!!!! -->
<mapper namespace="com.elements.user.mapperTry.UserMapper">

    <resultMap type="com.elements.user.model.User" id="usermap">
        <id column="userId" property="userId"/>
        <result column="UserName" property="UserName"/>
        <result column="UserEmail" property="UserEmail"/>
    </resultMap>


    <select id="getAllUser" resultMap="usermap">
        select * from mybatisdemo.user
    </select>

    <select id="getUserById" resultMap="usermap" parameterType="String">
        select * from mybatisdemo.user where userId= #{userId}
    </select>


    <insert id="insert" parameterType="com.elements.user.model.User">
        insert into mybatisdemo.user (UserName, UserEmail) values (
        #{UserName}, #{UserEmail}
        )
    </insert>

    <update id="update" parameterType="com.elements.user.model.User">
        update mybatisdemo.user set UserName=#{UserName},
        UserEmail=#{UserEmail}
        where userId= #{userId}
    </update>

    <delete id="delete" parameterType="String">
        delete mybatisdemo.user where userId= #{userId}
    </delete>

</mapper>